
<div class="container-form" >
    
    <div class="container-box">
        <h1>Welcome to 9&#190;-GAG</h1>
        <div class="slogan">{{sloganCurrent}}</div>
        <div>Do you already have an Account ?</div>
        <button class="fisi-button fisi-button-outline" routerLink='/auth/login'>Login</button>
        <div>If not, no problem. Create one for free in under a minute!</div>
        <button class="fisi-button fisi-button-red" routerLink='/auth/register'>Register</button>
    </div>
    <div class="background" id="particles-js"></div>
</div>
