@import '../../../app.component.scss';
button{
    font-size: 1.05rem;
}

div{
    padding: 0;
    margin: 1rem 0 1rem 0;
}

.fisi-button-none{
    margin-bottom: 1rem;;
}

.background {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.fisi-button {
    min-width: 60%;
}

